@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sintony:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.vjs-poster {
  background-size: cover !important;
}

.video-js .vjs-big-play-button {
  width: 90px !important;
  height: 90px !important;
  /* display: flex !important; */
  align-items: center !important;
  justify-content: center !important;
  border-radius: 9999px !important;
  background-color: #fff !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
  transform: translate(-50%, -50%);
}

.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
  position: relative !important;
  color: #e00050 !important;
  font-size: 54px !important;
  line-height: 54px !important;
  vertical-align: middle !important;
}

@media (max-width: 767px) {
  .video-js .vjs-big-play-button {
    transform: translate(-50%, -50%) scale(0.6);
  }
  /* .video-js .vjs-big-play-button .vjs-icon-placeholder::before {
    font-size: 34px !important;
    line-height: 34px !important;
    vertical-align: middle !important;
  } */
}
